.clientinfo
    .container
        .client__say
            .client__title
                h1.client__title__about What client says
        .client__text
            img.clientimage(src="../../images/clientphoto.png")
            .bracket ‘‘
            .text__client Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .text__authors Jinny Snow, Company CEO
            img.lastclientsimage(src="../../images/01.png")
            img.lastclientsimage2(src="../../images/02.png")
            img.lastclientsimage3(src="../../images/03.png")
    .left__triangle__img
        img.img_triangle(src="../../images/background17.png")
        img.img_righttriangle(src="../../images/background18.png")