.creativeteam
    .container
        .info__creativeteam
            h1.title__creativeteam Our creative team
            .slider__creativeteam
                ul.slider__creativeteamlist
                    li.center__rhoumbus
                        img.rhoubus__img(src="../../images/background8.png")
                        img.title__rhoumbus(src="../../images/background9.png")
                        .text__bottom__parall Jimmy Doe
                        img.title__under(src="../../images/background10.png")
                        .text__under__parall Designer
                    li.right__rhoumbus
                        img.rhoumbus5right(src="../../images/background11.png")
                        img.rightparall(src="../../images/background12.png")
                        .text__under__rightrombus John Doe
                    li.left__rhoumbus
                        img.imageroumbus(src="../../images/background13.png")
                        img.leftparall(src="../../images/background12.png")
                        .text__under__leftrombus John Doe
        .creativeteam__triangle
            img.left__triangle(src="../../images/background6.png")
            img.right__triangle(src="../../images/background7.png")
            img.left__slider(src="../../images/background14.png")
            img.right__slider(src="../../images/background15.png")
            img.bottomm(src="../../images/background16.png")
