footer.footer
    .background__imaages
        img.top__triangle(src="../../images/background21.png")
        img.bottom_triangle(src="../../images/background20.png")
        .footer__background
            .container
                .title__footer
                    h1.title__footer__about Get in touch
                .icons__footer
                    .email
                        img.footerimg(src="../../images/iconfooter1.png")
                        h3.title__icons E-mail
                        .text__footer free@psd.in.ua
                        .text__footer free@psd.in.ua
                    .contacts
                        img.footerimg(src="../../images/iconfooter2.png")
                        h3.title__icons Phone
                        .text__footer +123 456 7890
                        .text__footer +123 456 7890
                    .adress
                        img.footerimg(src="../../images/iconfooter3.png")
                        h3.title__icons Office
                        .text__footer 123, Main Road, New City,
                        .text__footer My Country 123456
            .container
                .footer__footer
                    img.footerimage(src="../../images/iconfooter4.png")
                    img.footerimage(src="../../images/iconfooter5.png")
                    img.footerimage(src="../../images/iconfooter6.png")
                    img.footerimage(src="../../images/iconfooter7.png")
                    img.footerimage(src="../../images/iconfooter8.png")
                    img.footerimage(src="../../images/iconfooter9.png")
                    img.footerimage(src="../../images/iconfooter10.png")
                hr.footer--line
                .footer__bottom
                    .text__footer__bottom Copyright © 2019. PSD.IN.UA  | Best PSD Template for freelancer and agencies


