
.howwework
    .container
        .contaniner__about
            .container__howwework
                h1.title__howwework How we works
                .text__howwework Sed ut perspiciatis unde omnis iste
                .text__howwework natus error sit voluptatem accusan
                .text__howwework tium doloremque laudantium.Sed ut
                .text__howwework perspiciatis unde omnis iste natus
                .text__howwework error sit voluptatem accusantium
                .text__howwework doloremque laudantium.
            .button__howwework
                .button__btn2(href="#") READ MORE
        .container__image
            img.triangle__left__botom(src="../../images/background4.png")
            img.triangle__right__center(src="../../images/background5.png")
        .scroller1
            .number 1.
            .title__scroller IDEA
            .text__scroller Sed ut perspiciatis unde
            .text__scroller omnis iste natus error sit
            .text__scroller voluptatem.
        .scroller2
            .number 2.
            .title__scroller2 design
        .scroller3
            .number 3.
            .title__scroller3 output

