.title__about
    .container
        .title__h1
            h1 What we do
    .container
        .first__row
            .title__row
                img.imgimg(src="../../images/icon1.png")
                h2.title__rows Creative Work
                .text__container Sed ut perspiciatis unde omnis iste
                .text__container natus error sit voluptatem accusan
                .text__container tium doloremque laudantium
            .title__row
                img.imgimg(src="../../images/icon2.png")
                h2.title__rows We do Best
                .text__container Sed ut perspiciatis unde omnis iste
                .text__container natus error sit voluptatem accusan
                .text__container tium doloremque laudantium
            .title__row
                img.imgimg(src="../../images/icon3.png")
                h2.title__rows Best Company
                .text__container Sed ut perspiciatis unde omnis iste
                .text__container natus error sit voluptatem accusan
                .text__container tium doloremque laudantium
        .second__row
            .title__row
                img.imgimg(src="../../images/icon4.png")
                h2.title__rows Nice Idea
                .text__container Sed ut perspiciatis unde omnis iste
                .text__container natus error sit voluptatem accusan
                .text__container tium doloremque laudantium
            .title__row
                img.imgimg(src="../../images/icon5.png")
                h2.title__rows Professional
                .text__container Sed ut perspiciatis unde omnis iste
                .text__container natus error sit voluptatem accusan
                .text__container tium doloremque laudantium
            .title__row
                img.imgimg(src="../../images/icon6.png")
                h2.title__rows Great Services
                .text__container Sed ut perspiciatis unde omnis iste
                .text__container natus error sit voluptatem accusan
                .text__container tium doloremque laudantium
        .triangleright
            img.triangle__right(src="../../images/background2.png")
            img.triangle__bottom(src="../../images/background3.png")
