.info
    .container
        .container__info
            .container__text
                h1.title__info Who we are
                .oleg__info
                    .text__column Sed ut perspiciatis unde omnis iste natus error sit
                    .text__column voluptatem accusantium doloremque laudantium, totam
                    .text__column rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                    .text__column quasi architecto beatae vitae dicta sunt explicabo.
                .button__info
                    .button__btn
                        a.button__btn2(href="#") READ MORE
            .img__container
                img.container__triangle(src="../../images/1.png")
                img.trianglepc(src="../../images/pc.png")
